# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/*
!.idea/runConfigurations

# VS Code which you may wish to be included in version control, so this line
# is commented out by default.

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
windows/flutter/*
.gitmessage
settings.json
linux/flutter/*
*.gr.dart
*.env
*.env.*
*.env.g.dart
*.g.dart
*.gen.dart

# FVM Version Cache
.fvm/
/pubspec.lock
/apps/app_core/android/app/.cxx/
/packages/app_subscription/pubspec.lock
/apps/app_core/macos/Flutter/ephemeral/Flutter-Generated.xcconfig
/apps/app_core/macos/Flutter/ephemeral/flutter_export_environment.sh

# mason
/mason.yaml
/.mason/
/mason-lock.json
temp_auto_push.bat
temp_interactive_push.bat
.gitignore
